<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :alpha_numeric %><br />
    <%= f.text_field :alpha_numeric %>
  </div>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.text_field :approved %>
  </div>
  <div class="field">
    <%= f.label :click_count %><br />
    <%= f.text_field :click_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
